/* 隠しフィールド */
p#root-employeeId {
    display: none;
}

/* 概要 */
div#root-overview {
    top: 0;
    width: 100%;
    height: 15%;
    border-bottom: 1px black solid;
}

div#root-overview * {
    font-size: 4vh;
}

p#root-overview-workingDays {
    top: 10%;
    left: 10%;
    margin: 0;
}

p#root-overview-workingHours {
    top: 10%;
    left: 30%;
    margin: 0;
}

p#root-overview-normalOvertime {
    top: 10%;
    left: 50%;
    margin: 0;
}

p#root-overview-midnightOvertime {
    top: 10%;
    left: 70%;
    margin: 0;
}

p#root-overview-absenceDays {
    top: 50%;
    left: 10%;
    margin: 0;
}

p#root-overview-absenceHours {
    top: 50%;
    left: 30%;
    margin: 0;
}

/* メニュー */
div#root-menu {
    top: 15%;
    width: 100%;
    height: 5%;
}

span#root-menu-lastMonth {
    border-left: 1px black solid;
    border-right: 1px black solid;
    cursor: pointer;
}

span#root-menu-thisMonth {
    left: 5%;
}

span#root-menu-nextMonth {
    left: 10%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    cursor: pointer;
}

span#root-menu-bulkApproval {
    left: 20%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    cursor: pointer;
}

span#root-menu-bulkCancel {
    left: 30%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    cursor: pointer;
}

/* 詳細 */
div#root-detail {
    top: 20%;
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

div#root-detail * {
    position: static;
    border: 1px black solid;
}

p.root-detail-attendance-row-id {
    display: none;
}

tr.root-detail-attendance-row-saturday {
    background-color: skyblue;
}

tr.root-detail-attendance-row-sunday {
    background-color: pink;
}

th#root-detail-attendance-header-status {
    width: 10%;
}

th#root-detail-attendance-header-approval {
    width: 6%;
}

th#root-detail-attendance-header-cancel {
    width: 8%;
}

th#root-detail-attendance-header-date {
    width: 6%;
}

th#root-detail-attendance-header-dayOfTheWeek {
    width: 6%;
}

th#root-detail-attendance-header-startTime {
    width: 8%;
}

th#root-detail-attendance-header-finishTime {
    width: 8%;
}

th#root-detail-attendance-header-breakTime {
    width: 8%;
}

th#root-detail-attendance-header-workingHours {
    width: 8%;
}

th#root-detail-attendance-header-overTime {
    width: 8%;
}

th#root-detail-attendance-header-midnightOverTime {
    width: 8%;
}

th#root-detail-attendance-header-absenceHours {
    width: 8%;
}

th#root-detail-attendance-header-remarks {
    width: 8%;
}

td.root-detail-attendance-row-approval {
    cursor: pointer;
}

td.root-detail-attendance-row-cancel {
    cursor: pointer;
}